<H2>template-driven-form</H2>
<form (ngSubmit)="save()" novalidate #eenFormpje="ngForm">
    <div class="form-group">
        <label for="inputPostcode">Postcode:</label>
        <input type="text" name="pc" id="pcode" [(ngModel)]="postalCode" #pcInput="ngModel" required pattern="^[1-9][0-9]{3}[\s]?[A-Za-z]{2}$" minlength="6" maxlength="7">
        <div *ngIf="pcInput.errors?.required">*</div>
        <button [disabled]="!eenFormpje.valid" type="submit" class="btn btn-primary">Save</button>
    </div>
</form>