<form (submit)="addContact()">
	<div>
		<label for="firstName">First name:</label>
		<input type="text" id="firstName" name="firstName" [(ngModel)]="newContact.firstName">
	</div>
	<div>
		<label for="surname">Surname:</label>
		<input type="text" id="surname" name="surname" [(ngModel)]="newContact.surname">
	</div>
	<div>
		<label for="email">E-mail address:</label>
		<input type="text" id="email" name="email" [(ngModel)]="newContact.email">
	</div>

	<button>Add contact</button>
</form>

<table class="table">
  <tr>
    <th>Name</th>
    <th>E-mail address</th>
    <th></th>
  </tr>
  <tr *ngFor="let contact of contacts">
    <td>{{contact.firstName}} {{contact.surname}}</td>
    <td>{{contact.email}}</td>
    <td>
      <button class="btn">Edit</button>
      <button class="btn btn-danger">Delete</button>
    </td>
  </tr>
</table>